body {
    font-family: 'Arial', sans-serif;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.calculator {
    border-radius: 8px;
    overflow: hidden;
    width: 250px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}

.display {
    background-color: #333;
    padding: 20px;
    font-size: 2em;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.btn {
    border: none;
    height: 60px;
    font-size: 1.5em;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #f4f4f4;
}

.operation {
    background-color: #ffa500;
    color: white;
}

.operation:hover {
    background-color: #ff8c00;
}

#zero {
    grid-column: span 2;
}
/* ... Votre CSS actuel ... */

/* Styles spécifiques pour les écrans de petite taille (mobiles) */
@media (max-width: 500px) {
    .calculator {
        width: 90%;
        font-size: 1.2em;  /* Augmentation de la taille de la police pour une meilleure lisibilité */
    }

    .btn {
        height: 50px;  /* Réduire la hauteur des boutons pour économiser de l'espace */
    }

    .display {
        padding: 15px;  /* Réduire l'espaceur de l'affichage */
        font-size: 1.6em;  /* Augmentation de la taille de la police pour une meilleure lisibilité */
    }
}

